   


   <div class="container mt-5">
    <h1>Registro de contas Médicas</h1>
  </div>



   <table id="table"   class="table"  >
      <thead >
       <tr >
           <th>medico</th>
           <th>CRM</th>
           <th>Hospital</th>
           <th>CNPJ</th>
           <th>Paciente</th>
           <th>Convenio</th>
           <th>Acomodação</th>
           <th>Procedimento</th>
           <th>Ações</th>
         
       </tr>
   </thead>
   
      <tbody *ngIf="Registro$ | async as registro"  >
          <tr   *ngFor="let list of registro.Registros">
          
              <td >{{list.medico}}</td>
              <td >{{list.CRM}}</td> 
              <td >{{list.hospital}}</td>
              <td >{{list.CNPJ}}</td>
              <td >{{list.paciente}}</td>
              <td >{{list.convenio}}</td>
              <td >{{list.acomodacao}}</td>
              <td >{{list.procedimento}}</td>
              
              <td>
                <div>
                  <a id="acaoApagar" *ngIf="hiddenDelete; else loadingDelete" (click)='Delete(list.id)' class="btn btn-dark">Apagar</a>
                  <ng-template #loadingDelete>
                    <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </ng-template>
                </div>
                <div>
                  <a id="acaoEdit" (click)='BuscarPorId(list.id)' class="btn btn-dark">Editar</a>
                </div>
                  
              </td>
          </tr>
      </tbody>
    </table>
 



   <div *ngIf="show; else loading"></div>
   <ng-template #loading>
   <div *ngIf="Registro$" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  </ng-template>

