   


   <div class="container mt-5">
    <h1>Registro de contas Médicas</h1>
  </div>



   <table id="table"   class="table"  >
      <thead >
       <tr >
           <th>medico</th>
           <th>CRM</th>
           <th>Hospital</th>
           <th>CNPJ</th>
           <th>Paciente</th>
           <th>Convenio</th>
           <th>Acomodação</th>
           <th>Procedimento</th>
           <th>Ações</th>
         
       </tr>
   </thead>
   
      <tbody *ngIf="Registro$ | async as registro"  >
          <tr   *ngFor="let list of registro.Registros">
          
              <td >{{list.medico}}</td>
              <td >{{list.CRM}}</td> 
              <td >{{list.hospital}}</td>
              <td >{{list.CNPJ}}</td>
              <td >{{list.paciente}}</td>
              <td >{{list.convenio}}</td>
              <td >{{list.acomodacao}}</td>
              <td >{{list.procedimento}}</td>
              
              <td>
                <div>
                  <a id="delete"  *ngIf="hiddenDelete; else loadingDelete" (click)='Delete(list.id)' class="btn btn-dark">Apagar</a>
                  

                  <ng-template #loadingDelete>
                    <button id="delete" class="btn btn-dark" type="button" disabled>Apagar </button>
                    <span class="spinner-grow" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </span>
                </ng-template>
                </div>
                <div>
                  <a id="acaoEdit" (click)='BuscarPorId(list.id)' class="btn btn-dark">Editar</a>
                </div>
                  
              </td>
          </tr>
      </tbody>
    </table>

    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
 



   <div *ngIf="show; else loading"></div>
   <ng-template #loading>
   <div *ngIf="Registro$" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  </ng-template>

 
