   
<div class="container-md mt-3">
  <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Contas Médicas</h1>
</div>

<div style="align-items: center; justify-content: center;">
  <table class="table table-bordered">
      <thead>
        <tr style="align-items: center; justify-content: center; text-align: center;">
          <th scope="col" style="color: aliceblue;">Médico</th>
          <th scope="col" style="color: aliceblue;">CRM</th>
          <th scope="col" style="color: aliceblue;">Hospital</th>
          <th scope="col" style="color: aliceblue;">CNPJ</th>
          <th scope="col" style="color: aliceblue;">Paciente</th>
          <th scope="col" style="color: aliceblue;">Convenio</th>
          <th scope="col" style="color: aliceblue;">Acomodação</th>
          <th scope="col" style="color: aliceblue;">Procedimento</th>
          <th scope="col" style="color: aliceblue;">Ações</th>
      </tr>
   </thead>
   
    <tbody *ngIf="Registro$ | async as registro"  >
        <tr  style="align-items: center; justify-content: center; text-align: center;"  *ngFor="let list of registro.Registros">
          
            <td style="color: aliceblue;">{{list.medico}}</td>
            <td style="color: aliceblue;">{{list.CRM}}</td> 
            <td style="color: aliceblue;">{{list.hospital}}</td>
            <td style="color: aliceblue;">{{list.CNPJ}}</td>
            <td style="color: aliceblue;">{{list.paciente}}</td>
            <td style="color: aliceblue;">{{list.convenio}}</td>
            <td style="color: aliceblue;">{{list.acomodacao}}</td>
            <td style="color: aliceblue;">{{list.procedimento}}</td>
              
            <td style="align-items: center; justify-content: center; text-align: center;">
              <div>
                <a id="acaoEdit" (click)='BuscarPorId(list.id)' class="btn btn-primary">Editar</a>
              </div>
              <div>
                <a id="acaoApagar" *ngIf="hiddenDelete; else loadingDelete" (click)='Delete(list.id)' class="btn btn-danger">Apagar</a>
                <ng-template #loadingDelete>
                    <button class="btn btn-danger" type="button" disabled>
                        <span class="spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </ng-template>
              </div>
            </td>
        </tr>
    </tbody>
  </table>
</div>

   <div *ngIf="show; else loading"></div>
   <ng-template #loading>
   <div *ngIf="Registro$" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  </ng-template>

