<div class="container mt-5">

    <h1>Entrada dod Documento</h1>

</div>

<div class="container mt-5">

    <form action="" method="POST">

        <div class="form-group">
            <label for="exampleFormControlFile1">Selecione o documento</label>
            <input type="file" class="form-control-file" id="registroAnestesico">
        </div>
        
    </form>

</div>

<div class="container mt-5">

    <h1></h1>

    <form>

        <div class="form-group">
            <label for="exampleFormControlFile1">Selecione o documento</label>
            <input type="file" class="form-control-file" id="registroAnestesico">
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Data do Evento</label>
                    <input type="date" class="form-control" id="dataEvento">
                    <div class="form-text"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Médico</label>
                    <input type="text" class="form-control" id="medico">
                    <div class="form-text"></div>
                </div>

            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">CRM</label>
                    <input type="text" class="form-control" id="crm">
                    <div class="form-text"></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Hospital</label>
                    <input type="text" class="form-control" id="hospital">
                    <div class="form-text"></div>
                </div>

            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">CNPJ</label>
                    <input type="text" class="form-control" id="cnpj">
                    <div class="form-text"></div>
                </div>

            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Paciente</label>
            <input type="text" class="form-control" id="paciente">
            <div class="form-text"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Convênio</label>
            <input type="text" class="form-control" id="convenio">
            <div class="form-text"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Acomodação</label>
            <input type="text" class="form-control" id="acomodacao">
            <div class="form-text"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Procedimento</label>
            <input type="text" class="form-control" id="procedimento">
            <div class="form-text"></div>
        </div>

        <button type="submit" class="btn btn-primary">Enviar documento</button>
    </form>
    <br><br>

</div>


<!-- Nome Hospital, CNPJ, Nome Paciente, Nome Médico, CRM, Procedimento, Acomodação, Convenio, Data do Evento ,-->