<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS</title>
</head>

<body ng-app="">
   
    <nav id="navBar" class="navbar ">
        <div id="navList" class="container-fluid fixed-top">
          
          <div class="offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            
            <div class="offcanvas-body">

              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="btn btn-outline-light btn-lg" aria-current="page" routerLink="/form">Home</a>
                </li>
                <br>
                <li class="nav-item">
                  <a class="btn btn-outline-light btn-lg" routerLink="/list">Lista de Contas</a>
                </li>
                <br>
                <li class="nav-item">
                  <a class="btn btn-outline-light btn-lg" routerLink="/form">Registro de Contas</a>
                </li>
              </ul>
              
            </div>
          </div>
        </div>
      </nav>
    
    <section id="sectionBody">   
    
      <div class="fas fa-home me-1">

          <router-outlet></router-outlet>

      </div>

    </section>

    <!-- Nome Hospital, CNPJ, Nome Paciente, Nome Médico, CRM, Procedimento, Acomodação, Convenio, Data do Evento ,-->

</body>

</html>