<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS</title>
</head>

<body ng-app="">
   
    <nav id="navBar" >
                               
           
            <div id="navList">
              <ul  class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/form">Cadastro</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/list">Lista</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>

                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                        <button ngbDropdownItem>Action - 1</button>

                        <button ngbDropdownItem>Another Action</button>

                        <button ngbDropdownItem>Something else is here</button>

                        </div>

                        </div>
                    </li> -->
              </ul>
              
            
          
        </div>
      </nav>
    
        
    <section id="sectionBody">   
    
    <div class="fas fa-home me-1">

        <router-outlet ></router-outlet>
       
    </div>

 

</section>


    <!-- Nome Hospital, CNPJ, Nome Paciente, Nome Médico, CRM, Procedimento, Acomodação, Convenio, Data do Evento ,-->



</body>




  

</html>