.conteiner{
    color:aliceblue;
    margin-top: 10%;
    width: 70%;
    border: 5px solid black;
    border-radius: 20px;
    background-color:  #293949;

}
#forget{
    margin-left: 10%;
}
p{
    margin-top: 5%;
}
#butCod{
    margin-left: 5%;
}
.header{
    margin-left:35%;
}
.form{
    width:60%;
    margin-left: 20%;
}
a{
    color: aliceblue;
}
.esqueciSenha{
    width:60%;
    margin-left: 20%;
}
#butForget{
  
    margin-left:70%;
}
